<br />
<br />
<br />
<div class="cheader">
    <div class="container">
        <div class="row">
            <div class="span11 offset1">
                <div class="cheaderbox">
                    <h2>Send 20 kids to summer school!</h2>
                    <h3>Stone Creek Elementary School</h3></div>
                    <h4><i class="icon-home"></i> Arlington, Virginia</h4>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="span1">
            <center>
            <div class="social-tools">
                <span class='st_facebook_vcount' displayText='Facebook'></span>
                <span class='st_twitter_vcount' displayText='Tweet'></span>
                <span class='st_email_vcount' displayText='Email'></span>
            </div>
            </center>
        </div>
        <div class="span7">
            <div class="tabbable">
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#home" data-toggle="tab">Home</a></li>
                    <li><a href="#updates" data-toggle="tab">Updates</a></li>
                    <li><a href="#backers" data-toggle="tab">Backers</a></li>
                    <li><a href="#discussion" data-toggle="tab">Discussion</a></li>
                </ul>
            </div>
            <div class="tab-content">

                <!-- Home -->
                <div class="tab-pane active" id="home">
                    <div class="aboxl">
                        <center><img src="assets/camping.jpg" width="650px"></center>
                    </div>
                    <div class="aboxl">
                        <h2>Description</h2>
                        <p>this is more text</p><br />
                    </div>
                </div>

                <!-- Updates -->
                <div class="tab-pane" id="updates">
                    <div class="aboxl">
                        <h2>Updates</h2>
                        <p>this is more text</p><br />
                    </div>
                </div>

                <!-- Backers -->
                <div class="tab-pane" id="backers">
                    <div class="aboxl">
                        <h2>Backers</h2>
                        <p>this is more text</p><br />
                    </div>
                </div>

                <!-- Discussion -->
                <div class="tab-pane" id="discussion">
                    <div class="aboxl">
                        <h2>Discussion</h2>
                        <p>this is more text</p><br />
                    </div>
                </div>
            </div>
        </div>
        <div class="span4 campaignrightbar">
                <div class="aboxr">
                    <strong><h4>Amount Raised: $25,000</h4></strong>
                    <div class="progress">
                        <div class="bar bar-success" style="width: 50%;"></div>
                    </div>
                    <h4>Out of: $50,000 goal</h4>
                    <h4>Total Contributors: 367</h4>
                </div>
                <div class="ownerbox">
                    <p>Campaign started by <strong>Brian</strong> of <strong>Washington, DC</strong></p>
                </div>
                <div class="perkbox">
                    <h4>$10 Donation</h4>
                    <p>Have the satisfaction that your donation gave a child an hour of fun at camp!</p>
                </div>
                <div class="perkbox">
                    <h4>$50 Donation</h4>
                    <p>Receive in the mail an 8x10 photograph of this class of summer camp kids</p>
                </div>
                <div class="perkbox">
                    <h4>$100 Donation</h4>
                    <p>Be mentioned on our website as Camp Sponsor for all interested parties to see, and a shoutout on our Facebook page!</p>
                </div>
                <div class="perkbox">
                    <h4>$150 Donation</h4>
                    <p>Have your name or business listed in the summer camp program sent to all families attending camp as well as our website!</p>
                </div>
        </div>
    </div>
</div>