<br />
<br />
<br />
<div class="container">
  <h2>Send 20 kids to summer school!</h2>
  <h3>Stone Creek Elementary School</h3>
  <h4>Arlington, Virginia</h4>
</div>

<!-- My Solution -->
<div class="container">
    <div class="row">
        <div class="span9">
            <div class="aboxl">
                <h3>Header</h3>
                <center><img src="assets/camping.jpg" width="650px"></center>
            </div>
            <div class="aboxl">
                <h2>Description</h2>
                <p>this is more text</p><br />
            </div>
        </div>
        <div class="span3">
            <div class="aboxr">
                <h3>Amount Raised: $25,000</h3>
                <h4>Out of: $50,000</h4>
                <h4>STATUS BAR</h4>
            </div>
            <div class="aboxr">
                <p>Campaign started by <strong>Brian</strong> of <strong>Washington, DC</strong></p>
            </div>
            <div class="giftoption1">
                <h4>Gift Option 1</h4>
            </div>
            <div class="giftoption2">
                <h4>Gift Option 2</h4>
            </div>
            <div class="giftoption3">
                <h4>Gift Option 3</h4>
            </div>
        </div>
    </div>
</div>