<br />
<br />
<br />
<br />
<div class="container">
  <h2>Interested in Raising Funds?</h2>
  <p>Pluribus is currently working with several organizations to roll out its inaugural class of fund-raising campaigns in the DC Metro Area. If you are interested...</p><br />
  <%= render 'home/contact_form' %>
</div>