#features {
    margin-top: 40px;
}

.navbar-inverse .nav > li > a {
    font-size: 15px;
}

.span2 {
    max-width: 140px;
}

.alert .navbar .navbar-static-top { 
    margin-bottom: 0;
}

#footer { 
    margin-top: 90px; 
}

#footer .credits { padding: 10px 0px 10px 0px;}

#footer .credits .copyright { 
    margin-top: 10px;
}

#footer .credits .social { 
    margin-top: 10px; 
}

#aboutus { 
    margin-top: 30px; margin-bottom: 0;
}

#customtitlebar {
    background: url('/assets/titlebar.jpg') no-repeat;
    font-size: 18px;
    font-weight: 200;
    line-height: 30px;
    height: 380px;
    margin-top:-20px;
    margin-bottom: 0;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;     
}

#customtitlebarcontent {
    margin: 0 auto; max-width: 960px;
    padding:110px 0px 80px 70px;
    word-spacing: .4em;
}

#customtitlebarcontent h1 {
    margin-bottom: 20px;
    font-size: 45px;
    color: #C0CCCB;
    line-height: 1;
}

.campaign {
    -moz-border-radius: 15px;
    border: solid;
    border-radius: 15px;
    border-width: 1px;
    padding: 10px;
    display: block;
}

.campaign .testbox {
    border: solid;
    border-radius: 15px;
    border-width: 1px;
    margin-left: 2.127659574%;
}

@media (max-width: 767px) {
  /*  #customtitlebar {background: none; height: auto;} */
    #customtitlebarcontent h1 {font-size: 35px;}
}

@media (max-width: 979px) {
    /* .navbar-fixed-top, .navbar-fixed-bottom { position: fixed; padding: 0 30px 0 30px;}  This doesn't quite work since the content bleeds offscreen */
}

.navbar-fixed-top {
    -webkit-box-shadow: 0 3x 6px rgba(0,0,0,.3);
    -moz-box-shadow: 0 3px 6px rgba(0,0,0,.3);
    box-shadow: 0 3px 6px rgba(0,0,0,.3); 
}

.btn { 
    word-spacing: .25em; 
    font-size: 16px; 
    line-height: 25px; 
    font-weight:bold;
}

/**
 * Solution 1 (not responsive)
 * Any width for borders is ok.
 * May be able to optimize by setting global style and
 * `border-style`'ing to none (see Solution 2 for example)
 */

.row > [class*="span"]:first-child > .inner {
    border-left: 5px solid red;
}
.row > [class*="span"]:last-child > .inner {
    border-right: 5px solid red;
}

/* Testing purposes */

.container.unpadded { margin-top: 0px; }
.row > [class*="span"] > .inner,
.row-fluid [class*="span"],
.css3  [class*="span"] { background-color: blue;color: white;text-align: center; }

.inner,
.inner-fluid > [class*="span"],
.css3  [class*="span"] { min-height: 50px;padding: 20px; }


/* ==========================================================================
Replace 1170px grid with 960px grid on "Large Desktops"
========================================================================== 

@media (min-width: 1200px) {
.row {
/* margin-left: -20px;   What does this do? 
*zoom: 1;
}
.row:before,
.row:after {
display: table;
line-height: 0;
content: "";
}
.row:after {
clear: both;
}
[class*="span"] {
float: left;
min-height: 1px;
margin-left: 20px;
}
.container,
.navbar-static-top .container,
.navbar-fixed-top .container,
.navbar-fixed-bottom .container {
width: 940px;
}
.span12 {
width: 940px;
}
.span11 {
width: 860px;
}
.span10 {
width: 780px;
}
.span9 {
width: 700px;
}
.span8 {
width: 620px;
}
.span7 {
width: 540px;
}
.span6 {
width: 460px;
}
.span5 {
width: 380px;
}
.span4 {
width: 300px;
}
.span3 {
width: 220px;
}
.span2 {
width: 140px;
}
.span1 {
width: 60px;
}
.offset12 {
margin-left: 980px;
}
.offset11 {
margin-left: 900px;
}
.offset10 {
margin-left: 820px;
}
.offset9 {
margin-left: 740px;
}
.offset8 {
margin-left: 660px;
}
.offset7 {
margin-left: 580px;
}
.offset6 {
margin-left: 500px;
}
.offset5 {
margin-left: 420px;
}
.offset4 {
margin-left: 340px;
}
.offset3 {
margin-left: 260px;
}
.offset2 {
margin-left: 180px;
}
.offset1 {
margin-left: 100px;
}
} */

.cheaderbox {
    margin-top: 20px;
    /* max-width: 940px;*/
    margin-bottom: 15px;
    padding: 5px 15px 1px 15px;
    background-color: white;
    border-bottom-color: black
    border-bottom: 5px;
    /*-webkit-border-radius:6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    -moz-box-shadow: 1px 1px 2px #949494;
    -webkit-box-shadow: 1px 1px 2px #949494;
    box-shadow: 1px 1px 2px #949494;*/
}

.cheader {
    background-color: white;
}

.aboxl {
    margin-bottom: 20px;
    padding: 15px;
    background-color: white;
    -webkit-border-radius:2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    -moz-box-shadow: 1px 1px 2px #949494;
    -webkit-box-shadow: 1px 1px 2px #949494;
    box-shadow: 1px 1px 2px #949494;
}

.aboxr, .ownerbox, .perkbox {
    margin-bottom: 15px;
    padding: 15px;
    background-color: white;
    -webkit-border-radius:2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    -moz-box-shadow: 1px 1px 2px #949494;
    -webkit-box-shadow: 1px 1px 2px #949494;
    box-shadow: 1px 1px 2px #949494;
}

.aboxr h3 {
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
}

.ownerbox {
    padding-top: 10px;
    padding-bottom: 5px;
}

.perkbox {
    background-color: #E0FFFF;
}

.perkbox h4 {
    padding-bottom: 5px;
    border-bottom:1px solid #888888;
}

.loc {
    text-align:right;
}

.sponsororg {
    text-alight: left;
}

.social-tools {
    display: block;
    /* position: fixed; */
    margin-top 90px;
    height: auto;
    /* top: 90px; */
    text-align: center;
    border-radius: 0;
    width: 20px;
    background-color: transparent;
    max-width: 20px;
    color: navy;
    bottom: 50px;
}

.social-tools .unit {
    text-align: center;
}

.social-tools p {
    font-size:65%;
    text-align: center;
    vertical-align: middle;
}

.container {
    margin-top: 15px;
}

.tribar {
    text-align: center;
    margin: 15px 10px 15px 10px;
}

.tribar i {
    font-size: 40px;
}

.tribar h2 {
    magin-top: 0;
}