<footer id="footer">
    <div class="container">
        <div class="row sections">
            <div class="span4 recent_posts">
                <h3 class="footer_header">
                    Quick Links
                </h3>
                <div class="post">
                    <a href="tou" class="title">
                        Terms of Use
                    </a>
                    <a href="privacy" class="title">
                        Privacy Policy
                    </a>
                </div>
            </div>
            <div class="span4 contact">
                <h3 class="footer_header">
                    Join Our Mailing List!
                </h3>
                <form action="#" method="post">
                    <input type="text" placeholder="Your name" />
                    <input type="text" placeholder="Your email" />
                    <textarea rows="3" placeholder="Message"></textarea>
                    <input type="submit" value="Send" />
                </form>
            </div>
            <div class="span4 testimonials">
                <h3 class="footer_header">
                    Testimonials
                </h3>
                <div class="wrapper">
                    <div class="quote">
                        <span>“</span>
                        There are many variations of passages of randomised words which don't look even slightly believable. You need to be sure there isn't anything embarrassing of text.
                        <span></span>
                    </div>
                    <div class="author">
                        <img src="assets/user-display.png" />
                        <div class="name">Alejandra Galvan Castillo</div>
                        <div class="info">
                            Details Canvas
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row credits">
            <div class="span12">
                <div class="row social">
                    <div class="span12">
                        <a href="#" class="facebook">
                            <span class="socialicons ico1"></span>
                            <span class="socialicons_h ico1h"></span>
                        </a>
                        <a href="#" class="twitter">
                            <span class="socialicons ico2"></span>
                            <span class="socialicons_h ico2h"></span>
                        </a>
                        <a href="#" class="gplus">
                            <span class="socialicons ico3"></span>
                            <span class="socialicons_h ico3h"></span>
                        </a>
                    </div>
                </div>
                <div class="row copyright">
                    <div class="span12">
                        © 2013 Pluribus Crowdfunding, LLC
                    </div>
                </div>
            </div>            
        </div>
    </div>
</footer>